# Environment
python-dotenv >= 1.1.0

# Data
kagglehub >= 0.3.11
numpy >= 2.2.4
pandas >= 2.2.3

# Visualization
matplotlib >= 3.8.0
seaborn >= 0.13.0

# Machine Learning
scikit-learn >= 1.6.1

# Application development
streamlit >= 1.44.1
st-star-rating == 0.0.6